@font-face {
    font-family: pressstart;
    src: url(pressstart.ttf);
}
@font-face {
    font-family: pixeloperator;
    src: url(PixelOperator.ttf);
}
body {
  color: black;
  background-color: #008080;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  background-image: url("bg-icons.png");
  background-repeat: no-repeat;
}
#window1 {
  background-image: url("window-internet.png");
  background-repeat: no-repeat;
  display: float;
  margin-left: 13%;
  width: 636px;
  height: 465px;
  padding-top: 85px;
  padding-left: 14px;
  margin-top: 210px;
  position:absolute;
}
#window2 {
  position:abosolute;
  display: block;
  float: left;
  margin-left: 55%;
  margin-top: 20px;
}
#window3 {
  position:absolute;
  display: block;
  float: left;
  margin-top: 10px;
  margin-left: 8%;
}
#window4 {
  background-image: url("window-video.png");
  background-repeat: no-repeat;
  display: block;
  margin-left: 65%;
  width: 400px;
  height: 300px;
  margin-top: 450px;
  position: absolute;
}
p {
  font-family: pixeloperator;
  font-size: 20px;
  text-align: left;
  margin-right: 55px;
}
h1 {
  font-family: pressstart;
  font-size: 13px;
  text-align: center;
  margin-right: 55px;
}
#video {
  padding-top: 31px;
  padding-left: 8px;
}
footer {
  display: block;
  position: fixed;
  background-color: #c0c0c0;
  width: 100%;
  height: 30px;
  border-top: solid;
  border-color: #dadada;
  bottom:0;
}
#bar {
  padding-top: 3px;
  position: absolute;
}
#barleft {
  padding-left: 4px;
  position: absolute;
}
#barright {
  float: right;
  position: absolute;
  right: 0;
  margin-right: 4px;
}
